In [1]:
# Linear regression with multipal Variable
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
df = pd.read_csv('DataSets/ML2_DATA.csv')
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [2]:
# First we fillthe na value as median of that column:
import math
med = math.floor(df.Bedrooms.agg('median'))
# Here we use math.floor for lower bound of that median
df.Bedrooms.fillna(med,inplace = True)
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
# Here the price attribute is depends on multiple factors such as age of apartment ,no of bedrooms and area
# So this equation is return as :  Y = m*x1+m*x2+m*x3+c
# i.e.   Price = m*Area + m*Bedrooms + m*Age +c

In [4]:
# reg is linear regression object
reg = linear_model.LinearRegression()
reg.fit(df[['Area','Bedrooms','Age']],df.Price)

LinearRegression()

In [5]:
reg.predict([[2500,3,10]])

array([580525.])

In [6]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [7]:
reg.intercept_

383725.0

In [8]:
# Now we use this values in our expression
# Price = m*Area + m*Bedrooms + m*Age +c
Price = 137.25*2500 - 26025.0*3 - 6825.0*10 + 383725.0
Price

580525.0

In [9]:
# This value is same as Prediction