In [1]:
# Spam Ham Classifier using Naive Bayes
import pandas as pd
df = pd.read_csv("DataSets/spam_ham_dataset.csv")
df

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [2]:
# Here label_num is target parameter and text is input parameter
# To train text data we have to convert it in to array of numbers
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [3]:
X = cv.fit_transform(df.text)
sample = X.toarray()
sample

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(sample,df.label_num,test_size = 0.25)

In [5]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(X_train,y_train)

MultinomialNB()

In [6]:
nb.score(X_test,y_test)

0.9783449342614076

In [7]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('cv',CountVectorizer()),
    ('nb',MultinomialNB())
])
# Here classifiers work on data as we list in pipeline

In [8]:
clf.fit(df.text,df.label_num)
# No need to apply two classifier on data

Pipeline(steps=[('cv', CountVectorizer()), ('nb', MultinomialNB())])

In [9]:
clf.score(df.text,df.label_num)

0.9870431251208663

In [10]:
email = [
    'Got free free free dream paid job? Well then we would love to hear more about it! We absolutely love it when a geek from our family achieves their dreams. You deserve it, truly. And we know there are many others out there who can learn a lot from your journey, so why not tell them yourself?',
    'visit its free',
    'call me its importent'
]

In [11]:
clf.predict(email)

array([1, 1, 0], dtype=int64)